<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER HOME</title>
</head>
<body>
<h1>USER HOME</h1>
<h2 th:if="${#arrays.length(jobs)}!=0">Current tasks that need to be completed</h2>
<p th:if="${#arrays.length(jobs)}==0">NO task!</p>
<table border="1" th:if="${#arrays.length(jobs)}!=0">
    <tr>
        <td>count</td>
        <td>job description</td>
        <td>deadline</td>
    </tr>
    <th:block th:each="job,step:${jobs}">
        <tr>
            <td th:text="${step.count}"></td>
            <td><a th:text="${job.jobDescription}" th:href="@{/job/user/fileupload/{id}(id=${job.id})}"></a></td>
            <td th:text="${job.deadline}" style="color: red"></td>
        </tr>
    </th:block>
</table>
<a th:href="@{/job/user/logout}">logout</a>
</body>
</html>