<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MANAGER INDEX</title>
</head>
<body>
<h1>MANAGER INDEX</h1>
<h2>All unmet deadlines</h2>
<table>
    <thead>Job Des</thead>
    <thead>Job's Deadline</thead>
    <thead>Submit Count</thead>
    <thead>Count of who receive the job</thead>
    <tbody></tbody>
</table>
<a th:href="@{/job/user/logout}">logout</a>
<a th:href="@{/job/manager/jobadd}">jobadd</a>
<a th:href="@{/job/manager/job}">index</a>

</body>
</html>