<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>User Home</title>
</head>
<body style="background-color: #F2F2F2">
<br />
<div class="layui-container">

    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
            <div class="grid-demo layui-bg-green">|</div>
            <br />
            <blockquote class="layui-elem-quote" th:text="|Hello ${user.nickname}. Here is the job info.|"></blockquote>
            <table class="layui-table" th:if="${jobs} != null and ${#arrays.length(jobs)}!=0">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>count</th>
                    <th>job description</th>
                    <th>deadline</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="job,step:${jobs}">
                    <tr>
                        <td th:text="${step.count}"></td>
                        <td><a th:text="${job.jobDescription}" th:href="@{/job/user/fileupload/{id}(id=${job.id})}"></a></td>
                        <td th:text="${#dates.format(job.deadline,'yyyy-MM-dd HH:mm:ss')}" th:styleappend="${#dates.second(job.deadline)} - ${#dates.second(new java.util.Date())} < 86400 ? 'color: red'"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <br />
            <a th:href="@{/job/user/logout}" class="layui-btn">logout</a>
        </div>
    </div>
</div>
</body>
<!--/*/<th:block th:replace="fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</html>