<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(~{::title})">
    <title>File Upload</title>
</head>

<body style="background-color: #F2F2F2">
<br />
<div class="layui-container">

    <input type="hidden" id="jobId" th:value="${job.id}">
    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
            <div class="grid-demo layui-bg-green">|</div>
            <br />
            <blockquote class="layui-elem-quote" th:text="${job.jobDescription}">File upload</blockquote>
            <div class="layui-upload-drag" id="test10">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadDemoView">
                    <hr>
                    <img src="" alt="上传成功" style="max-width: 196px">
                </div>
                <br />
    <!--            进度条-->
                <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <button type="button" class="layui-btn" id="testListAction">click to submit</button>
    <a th:href="@{/job/user/index}" class="layui-btn">back to index</a>
    <br />
    <br />
    <br />
    <p>info:由于带宽只有1Mbps，也就是100多k，开始上传后请耐心等待，不要点击返回或关闭页面。</p>
    <br />
    <p>上传完成会有提示出现。</p>
</div>

</body>

<!--/*/<th:block th:replace="fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });

    layui.use(['upload','jquery','element'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element;
        element.init();
        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: "/job/user/fileupload"
            //限制大小 100M
            ,size: 100000
            ,auto: false//是否选完文件后自动上传
            ,bindAction: '#testListAction'//指向一个按钮触发上传
            ,data: {
                jobId : $('#jobId').val()
            }
            ,method: 'post'
            //接收任何类型的文件
            ,accept: 'file'
            //完成回调
            ,done: function(res){
                layer.msg(res.message);
                if (res.success){
                    layui.$('#uploadDemoView').removeClass('layui-hide').attr('src');
                }
                element.progress('demo','100%')
            },
            progress: function (n, element) {
                var percent = n + '%';
                element.progress('demo',percent)
            }
        });
    });

</script>
</body>
</html>