<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title th:replace="${title}">title</title>
    <link rel="stylesheet" th:href="@{https://www.layuicdn.com/layui/css/layui.css}"/>
</head>

<body>
</body>
<th:block th:fragment="script">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js" th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script src="https://www.layuicdn.com/layui/layui.js" th:src="@{https://www.layuicdn.com/layui/layui.js}"></script>
    <script th:src="@{https://cdn.hellooooo.top/js/jquery.md5.js}" src="/js/jquery.md5.js"></script>
</th:block>
</html>