<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hellooooo.jobsubmission.mapper.JobMapper">
    <insert id="getAllClazz" parameterType="Job">
        insert into j_job(job_description, originator, start_time, deadline, submit_count, total_count)
        values(#{job_description}, #{originator}, #{start_time}, #{deadline}, #{submit_count}, #{total_count})
    </insert>

<!--    将Job对象插入数据库-->
    <insert id="jobAdd" parameterType="Job">
        insert into j_job(job_description, originator, start_time, deadline, submit_count, total_count, submit_time)
        values (#{jobDescription},#{originator},#{startTime},#{deadline},#{submitCount},#{totalCount},#{submitTime})
    </insert>

<!--    将需要提交作业的用户插入数据库-->
    <insert id="insertJobSubmitPerson" parameterType="SubmitPerson">
        insert into j_submit_person(user_id, job_id)
        values
        <foreach collection="list" item="each" separator=",">
            (#{each.userId}, #{each.jobId})
        </foreach>
    </insert>

<!--    返回新插入的Job，为了获取Job_ID-->
    <select id="getJobAfterInsert" parameterType="int" resultType="Job">
        select * from j_job where originator = #{user_id} order by submit_time desc limit 1;
    </select>

<!--    需要注意，开始时间就不能是0了-->
    <select id="getUnexpiredJobs" resultType="Job">
        select * from j_job where unix_timestamp(deadline) &lt; unix_timestamp(now())
#             这里需要保证start_time不是null
#             and unix_timestamp(start_time) >= unix_timestamp(now())
        limit 30;
    </select>
</mapper>