<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hellooooo.jobsubmission.mapper.UserMapper">
    <select id="getUserByUsername" parameterType="string" resultMap="userMap">
        select user.* from j_user user
        where username = #{username}
    </select>

    <select id="getRoleByUserID" resultType="Role">
        select role.* from j_role role,j_user_role user_role
        where user_role.user_id = #{id} and role.id = user_role.role_id;
    </select>

    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <association property="role" column="id" select="getRoleByUserID"/>
    </resultMap>

<!--    获取User以及他的Clazz-->
    <select id="getUserAndClassById" parameterType="int" resultMap="userClazzMap">
        select * from j_user where id = #{id};
    </select>

    <select id="getClazzByUserId" parameterType="int" resultType="Clazz">
        select clazz.* from j_user_clazz user_clazz join j_clazz clazz
        on user_clazz.user_id = #{id} and user_clazz.clazz_id = clazz.id
    </select>
    
    <resultMap id="userClazzMap" type="User">
        <id property="id" column="id"/>
        <association property="clazz" column="id" select="getClazzByUserId"/>
    </resultMap>


    <select id="getUserWithClazzAndRoleByUsername" parameterType="string" resultMap="userRoleClazzMap">
        select * from j_user where username = #{username}
    </select>

<!--    获取未提交的人的信息-->
    <select id="getUnSubmitPersonWithJobId" parameterType="int" resultMap="userRoleClazzMap">
        select user.* from j_user user join j_job job join j_submit_person person join j_user_clazz user_clazz join j_clazz clazz
        on job.id = #{jobId} and person.job_id = job.id and person.user_id = user.id and user_clazz.user_id = user.id and user_clazz.clazz_id = clazz.id
    </select>

    <resultMap id="userRoleClazzMap" type="User">
        <id property="id" column="id"/>
        <association property="clazz" column="id" select="getClazzByUserId"/>
        <association property="role" column="id" select="getRoleByUserID"/>
    </resultMap>

<!--    判断账号是否被冻结-->
<!--    2代表密码错误次数过多-->
    <select id="ifTheAccountIsFrozen" parameterType="int" resultType="User">
        select * from j_user where id = #{userId} and account_status = 2;
    </select>

<!--    获取数据库中所有用户-->
    <select id="getAllUsers" resultType="User">
        select *
        from j_user;
    </select>

<!--    获取指定用户-->
    <select id="getUserById" parameterType="int">
        select *
        from j_user where id = #{id};
    </select>

    <!--    删除用户-->
    <delete id="deleteUserByUserId" parameterType="int">
        delete from j_user where id = #{id}
    </delete>
</mapper>