<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hellooooo.jobsubmission.mapper.UserMapper">
    <select id="getUserByUsername" parameterType="string" resultMap="userMap">
        select user.* from j_user user
        where username = #{username}
    </select>

    <select id="getRoleByUserID" resultType="Role">
        select role.* from j_role role,j_user_role user_role
        where user_role.id = #{id} and role.id = user_role.id
    </select>

    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <association property="role" column="id" select="getRoleByUserID"/>
    </resultMap>
</mapper>